.main-theme  {
    --color-primary: #263036;
    --color-secondary: #1e1e1e;
    --color-text: #1c2e8c;
    --color-text-white: #ffffff;
    --color-invalid: #ED0131;
    --color-focus: #0048D9;
    --color-background-main: #86a3b4;
}