* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #263036;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 55px;
  box-sizing: border-box;
  min-height: 100vh;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Sidebar container*/

.sidebar {
  background: #86a3b4;
  border: 1px solid #1e1e1e;
  width: 385px;
}
.heading-name {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-top: 58px;
  margin-left: 40px;
  margin-bottom: 28px;
}

.link-to-hire {
    margin-left: 40px;
    color: #1c2e8c;;
}

.main-photo {
  margin-top: 36px;
  margin-bottom: 50px;
}

.heading-surname {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1c2e8c;
}

.heading-aside,
.heading {
  border-bottom: 6px solid #1e1e1e;
}

.heading-aside {
  font-weight: 600;
  font-size: 33px;
  line-height: 39px;
  padding-bottom: 15px;
  margin-bottom: 31px;
  width: 289px;
}

.contact-sidebar,
.language-sidebar {
  margin-left: 40px;
  margin-right: 10px;
}

.contact-list-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 36px;
}

.contact-list-item-secondary {
  font-weight: 600;
}

li a {
  font-weight: 600;
  color: #1c2e8c;
}

.language-list-item {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1e1e1e;
  margin-bottom: 15px;
}
.language-sidebar {
  margin-bottom: 58px;
}

/*main conteiner*/

.heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #1e1e1e;
  padding-bottom: 28px;
  width: 659px;
}

.bold-text,
.skills-item {
  font-weight: 600;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 815px;
}

.summary {
  margin-top: 58px;
}

.summary-text,
.skill-list,
.education-list {
  margin-top: 28px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 27px;
}

.skill-list {
  list-style-position: inside;
}

.list-work-one {
  margin-top: 31px;
  margin-bottom: 15px;
}

/*Hire me*/

.container-hire {
  max-width: 1024px;
  margin: auto;
}

table, th, td {
  border: 1px solid #1e1e1e;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 15px;
}

.heading-hire {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*Hire me - form style*/

input, 
select, 
textarea {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

textarea,
input[type="email"],
select {
  background: #F8FAFC;
  padding: 12px;
  border-radius: 4px;
  outline: none;
}

textarea {
  resize: none;
  width: 460px;
  height: 139px;
}

input[type="email"] {
  width: 460px;
  height: 48px;
}

.req {
  color: #ED0131;
}

input[type="email"]:active,
select:focus,
textarea:focus,
input[type="submit"]:focus {
  outline: 1px solid #0048D9;
}

input[type="email"]:valid {
  border: 1px solid #0E6245;
}

input[type="email"]:invalid {
  border: 1px solid #ED0131;
}

.error {
  display: none;
  font-size: 12px;
  color: #ED0131;
}

.email:invalid + .error {
  display: block;
}

select {
  width: 484px;
  height: 48px;
  /*background: url(./Vector.png) no-repeat center right .75rem;*/
}


input[type="submit"] {
  background: #0048D9;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 4px 16px;
  width: 92px;
  height: 32px;
}

input[type="submit"]:hover {
  background: #002266;
}

label {
  color: #6F7482;
}

.form-fieldset {
    padding: 10px;
}